h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
